body {
    background-color: whitesmoke;
    max-width: 50%;
}

/* This combinator refers to the description of the image */
div .img-description {
    text-align: center;
    color: slategray;
}

.recipe-img {
    width: 100%;
    height: auto;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

.main-heading {
    font-size: xx-large;
}

.section-heading {
    font-size: large;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: blue;
}